* {
  font-size: 70px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  
  
}

.Bblack {
  color: #ffffff;
  background-color: black;
}

.Byellow {
  color: black;
  background-color: yellow;
}


